<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <title>Bagery - HTML 5 Template Preview</title>

    <%- include("partials/links.ejs")%>
  </head>

  <body>
    <%- include("partials/navbar.ejs")%>
    <main>

<!-- ourstory-style-two -->
        <section class="ourstory-style-two">
            <div class="auto-container">
                <div class="sec-title centred">
                    <p>Our Story</p>
                    <h2>Traditional & Modern Service <br>Since 1970</h2>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-12 text-column">
                        <div class="text mr-10">
                            <p>Our Story</p>
                            <p>Our story began with a passion for baking and a love for bringing people together through the joy of delicious, homemade treats. What started as a small kitchen dream has grown into a beloved bakery, where every loaf, pastry and cake is made with the finest ingredients and a touch of warmth. We take pride in crafting both classic favorites and innovative creations, ensuring every bite is a delightful experience.</p>
                            <p>Whether you're here for a morning treat, a custom order, or our best-selling specialties, we’re honored to be part of your sweetest moments.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 text-column">
                        <div class="text ml-10">
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  dolore magna aliqua.enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia dese runt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
                <figure class="signature-box centred"><img src="assets/images/icons/signature-2.png" alt=""></figure>
            </div>
        </section>
        <!-- ourstory-style-two end -->
    </main>
    <%- include("partials/footer")%> 
    <%- include("partials/scripts")%>
    <%- include('partials/chatbot') %>
  </body>
</html>
