<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <title>Bagery - HTML 5 Template Preview</title>

    <%- include("partials/links.ejs")%>
  </head>

  <body>
    <%- include("partials/navbar.ejs")%>
    <main>

<!-- ourstory-style-two -->
        <section class="ourstory-style-two">
            <div class="auto-container">
                <div class="sec-title centred">
                    <p>Our Story</p>
                    <h2>A New Chapter of Flavor <br>Started in 2025</h2>

                </div>
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-12 text-column">
                        <div class="text mr-10">
                            <p>Our Story</p>
                            <p>Our story began with a passion for baking and a love for bringing people together through the joy of delicious, homemade treats. What started as a small kitchen dream has grown into a beloved bakery, where every loaf, pastry and cake is made with the finest ingredients and a touch of warmth. We take pride in crafting both classic favorites and innovative creations, ensuring every bite is a delightful experience.</p>
                            <br>
                            <p>Whether you're here for a morning treat, a custom order, or our best-selling specialties, we’re honored to be part of your sweetest moments.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 text-column">
                        <div class="text ml-10">
                            <p>Behind the Name</p>
                            <p>The name Senescene for a bakery likely draws from "Senescence," meaning the process of aging, symbolizing the art of time-honored baking techniques, fermented doughs, and flavors that improve with age. It evokes nostalgia, warmth, and a connection to tradition, suggesting a bakery that values craftsmanship and heritage in its recipes.</p>
                            <br>
                            <br>
                            <p>The name could also hint at the idea that good things take time, much like the slow fermentation of sourdough or the mastery of classic pastries.</p>
                        </div>
                    </div>
                </div>
                <figure class="signature-box centred"><img src="assets/images/icons/signature-2.png" alt=""></figure>
            </div>
        </section>
        <!-- ourstory-style-two end -->
    </main>
    <%- include("partials/footer")%> 
    <%- include("partials/scripts")%>
    <%- include('partials/chatbot') %>
  </body>
</html>
