<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <title>Senescence Bakery - Checkout</title>

    <%- include("partials/links.ejs")%>
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/checkout.css">
  </head>

  <body>
    <%- include("partials/navbar.ejs")%>
    <main>
      <section class="checkout-section">
        <div class="auto-container">
          <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
              <div class="checkout-form">
                <div class="billing-info">
                  <h4 class="sub-title">Billing Details</h4>
                  <form
                    action="#"
                    method="post"
                    class="billing-form"
                    id="checkout-form"
                  >
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                        <label>First Name*</label>
                        <div class="field-input">
                          <input type="text" name="firstName" required />
                          <div class="error-message">First name is required</div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                        <label>Last Name*</label>
                        <div class="field-input">
                          <input type="text" name="lastName" required />
                          <div class="error-message">Last name is required</div>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                        <label>Email Address*</label>
                        <div class="field-input">
                          <input type="email" name="email" required />
                          <div class="error-message">Please enter a valid email address</div>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                        <label>Phone Number*</label>
                        <div class="field-input">
                          <input type="tel" name="phone" required />
                          <div class="error-message">Phone number must start with 01 and be 11 digits long</div>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                        <label>Street Address*</label>
                        <div class="field-input">
                          <input
                            type="text"
                            name="street"
                            placeholder="Street address"
                            required
                          />
                          <div class="error-message">Street address is required</div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                        <label>City*</label>
                        <div class="field-input">
                          <input type="text" name="city" required />
                          <div class="error-message">City is required</div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                        <label>Postal Code*</label>
                        <div class="field-input">
                          <input type="text" name="postCode" pattern="[0-9]{6}" maxlength="6" inputmode="numeric" required />
                          <div class="error-message">Postal code must be 6 digits</div>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                        <label>Governorate*</label>
                        <div class="field-input">
                          <select class="selectmenu" name="governorate" required>
                            <option value="">Select Governorate</option>
                            <option value="Cairo">Cairo</option>
                            <option value="Alexandria">Alexandria</option>
                            <option value="Ismailia">Ismailia</option>
                            <option value="Luxor">Luxor</option>
                            <option value="Giza">Giza</option>
                            <option value="Aswan">Aswan</option>
                          </select>
                          <div class="error-message">Please select a governorate</div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="payment-info">
                  <h4 class="sub-title">Payment Method</h4>
                  <div class="payment-inner">
                    <div class="option-block">
                      <div class="custom-controls-stacked">
                        <label class="custom-control material-checkbox">
                          <input
                            type="radio"
                            name="payment_method"
                            value="cash"
                            class="material-control-input"
                          />
                          <span class="material-control-indicator"></span>
                          <span class="description">Cash on Delivery</span>
                        </label>
                      </div>
                      <p>
                        Pay with cash when your order is delivered to your
                        doorstep. Additional delivery charges may apply.
                      </p>
                    </div>

                    <div class="option-block">
                      <div class="custom-controls-stacked">
                        <label class="custom-control material-checkbox">
                          <input
                            type="radio"
                            name="payment_method"
                            value="card"
                            class="material-control-input"
                          />
                          <span class="material-control-indicator"></span>
                          <span class="description">Credit/Debit Card</span>
                        </label>
                      </div>
                    </div>

                    

                    <div class="btn-box">
                      <button
                        type="submit"
                        form="checkout-form"
                        class="theme-btn-one"
                      >
                        Place Your Order
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="order-summary">
                <h4 class="sub-title">Order Summary</h4>
                <div class="order-items">
                  <ul id="orderItemsList" class="order-items-list">
                    <!-- Cart items will be dynamically added here -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include("partials/footer")%>
    <%- include("partials/scripts")%>
    <script>
      // Expose logged-in user id to checkout.js
      window.currentUserId = "<%= user ? user._id : '' %>";
    </script>
    <%- include('partials/chatbot') %>

    <script src="/js/checkout.js"></script>
    
     
  </body>
</html>
